.item {
width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
	background-color: var(--gray-500);
	border: 1px solid var(--gray-400);
	border-radius: 8px;
}

.item p {
	flex: 1;
	color: var(--gray-100);
	cursor: pointer;
}

.item button {
	background-color: transparent;
	border: 0;
  border-radius: 4px;
	line-height: 0;
	color: var(--gray-300);
  cursor: pointer;
  padding: .25rem;
  transition: background-color .2s, color .2s;
}

.item button:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}

.itemCheck {
	display: block;
	width: 1.125rem;
	height: 1.125rem;
	border: 2px solid var(--blue);
	border-radius: 16px;
  cursor: pointer;
}

.itemCheck:hover {
  background-color: var(--blue-dark);
}

.itemChecked {
	border-color: var(--gray-500);
}

.itemChecked p {
	text-decoration: line-through;
	color: var(--gray-300);
}

.itemChecked .itemCheck {
	border-color: var(--purple);
	background-color: var(--purple);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 14px;
}